<h2><%= title %></h2>

<form action="/admin/pages" method="post">
  <div class="form-group">
    <label for="header">Header</label>
    <input type="text" class="form-control" id="page_header" name="header">
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" class="form-control" id="slug" name="slug">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" rows="5" id="content" name="body"></textarea>
  </div>

  <button type="submit" class="btn btn-default btn-lg">Create Page</button>
</form>
